<div class="article-meta" data-test-article-meta>
  {{article-author article=article tagName=""}}
  {{#if isLoggedIn}}
    {{#if canEdit}}
      {{#link-to "editor.article" article.id class="btn btn-sm btn-outline-secondary" data-test-edit-article-button=""}}
        <i class="ion-edit"></i> &nbsp; Edit Article
      {{/link-to}}
      &nbsp;&nbsp;
      <button class="btn btn-sm btn-outline-danger" {{action onDeleteArticle article}} data-test-delete-article-button>
        <i class="ion-trash-a"></i> &nbsp; Delete Article
      </button>
    {{else}}
      {{#follow-user-button class="btn btn-sm" onClick=(action onFollowAuthor article.author)}}
        {{if article.author.following "Unfollow" "Follow"}} {{article.author.id}}
      {{/follow-user-button}}
      &nbsp;&nbsp;
      {{#favorite-article-button class=(if article.favorited "btn-primary" "btn-outline-primary") onClick=(action onFavoriteArticle article)}}
        {{if article.favorited "Unfavorite" "Favorite"}} Post
        <span class="counter" data-test-article-favorites-count>{{article.favoritesCount}}</span>
      {{/favorite-article-button}}
    {{/if}}
  {{else}}
    {{#link-to "login" class="btn btn-sm btn-outline-secondary" data-test-follow-author-button-login=""}}
      Follow {{article.author.id}}
    {{/link-to}}
    &nbsp;&nbsp;
    {{#link-to "login" class="btn btn-sm btn-outline-secondary" data-test-favorite-article-button-login=""}}
      <i class="ion-heart"></i> &nbsp; Favorite Post
      <span class="counter" data-test-article-favorites-count>{{article.favoritesCount}}</span>
    {{/link-to}}
  {{/if}}
</div>