<div class="article-meta">
  {{article-author article=article tagName=""}}
  <button class="btn btn-sm {{if article.author.following "btn-secondary" "btn-outline-secondary"}}"
    {{action onFollowAuthor}}>
    <i class="ion-plus-round"></i> &nbsp; {{if article.author.following "Unfollow" "Follow"}} {{model.author.id}}
  </button>
  &nbsp;&nbsp;
  <button class="btn btn-sm {{if article.favorited "btn-primary" "btn-outline-primary"}}" {{action onFavoriteArticle}}>
    <i class="ion-heart"></i> &nbsp; {{if article.favorited "Unfavorite" "Favorite"}} Post
    <span class="counter">{{article.favoritesCount}}</span>
  </button>
</div>