<div class="article-preview" data-test-article-preview>
  <div class="article-meta">
    {{#link-to "profile" article.author.username}}
      <img data-test-article-author-image src={{article.author.image}}
        alt="profile image for {{article.author.username}}">
    {{/link-to}}
    <div class="info">
      {{#link-to "profile" article.author.username class="author" data-test-article-author-username=article.author.username}}
        {{article.author.username}}
      {{/link-to}}
      <span class="date" data-test-article-date>{{moment-format article.createdAt "MMM D, YYYY"}}</span>
    </div>
    <button class="btn {{if article.favorited "btn-primary" "btn-outline-primary"}} btn-sm pull-xs-right"
      data-test-article-favoritesCount>
      <i class="ion-heart"></i> {{article.favoritesCount}}
    </button>
  </div>
  {{#link-to "article" article.slug class="preview-link" }}
    <h1 data-test-article-title>{{article.title}}</h1>
    <p data-test-article-description>{{article.description}}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      {{#each article.tagList as |tag|}}
        <li class="tag-default tag-pill tag-outline" data-test-article-tag>{{tag.value}}</li>
      {{/each}}
    </ul>
  {{/link-to}}
</div>