<div class="article-preview" data-test-article-preview>
  <div class="article-meta">
    {{#link-to "profile" author}}
      <img src= {{imageSrc}} alt="profile image for {{author}}">
    {{/link-to}}
    <div class="info">
      {{#link-to "profile" author class="author" }}
        {{author}}
      {{/link-to}}
      <span class="date">{{moment-format date 'ddd MMM DD YYYY'}}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{hearts}}
    </button>
  </div>
  {{#link-to "article" slug class="preview-link" }}
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <span>Read more...</span>
  {{/link-to}}
</div>