<div class="article-preview">
  <div class="article-meta">
    <a href="profile.html"><img src= {{imageSrc}} alt="profile image for {{author}}"></a>
    <div class="info">
      <a href="" class="author">{{author}}</a>
      <span class="date">{{date}}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{hearts}}
    </button>
  </div>
  <a href="" class="preview-link">
    {{content}}
  </a>
</div>