<div class="article-preview" data-test-article-preview>
  <div class="article-meta">
    {{article-author article=article tagName=""}}
    {{#if isLoggedIn}}
      {{#favorite-article-button class=(concat "pull-xs-right " (if article.favorited "btn-primary" "btn-outline-primary")) onClick=(action onFavoriteArticle article)}}
        <span class="counter" data-test-article-favorites-count>{{article.favoritesCount}}</span>
      {{/favorite-article-button}}
    {{else}}
      {{#link-to "login" class="pull-xs-right btn btn-sm btn-primary" data-test-favorite-article-button-login=""}}
        <i class="ion-heart"></i> &nbsp;
        <span class="counter" data-test-article-favorites-count>{{article.favoritesCount}}</span>
      {{/link-to}}
    {{/if}}
  </div>
  {{#link-to "article" article.id class="preview-link" }}
    <h1 data-test-article-title>{{article.title}}</h1>
    <p data-test-article-description>{{article.description}}</p>
    <span>Read more...</span>
    {{#if article.tagList}}
      <ul class="tag-list">
        {{#each article.tagList as |tag|}}
          <li class="tag-default tag-pill tag-outline" data-test-article-tag>{{tag.value}}</li>
        {{/each}}
      </ul>
    {{/if}}
  {{/link-to}}
</div>