<div class="article-preview" data-test-article-preview>
  <div class="article-meta">
    {{#link-to "profile" author}}
      <img src= {{imageSrc}} alt="profile image for {{author}}">
    {{/link-to}}
    <div class="info">
      {{#link-to "profile" author}}
        {{author}}
      {{/link-to}}
      <span class="date">{{moment-format date 'ddd MMM DD YYYY'}}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{hearts}}
    </button>
  </div>
  <a href="" class="preview-link">
    {{content}}
  </a>
</div>