<div class="article-preview" data-test-article-preview>
  <div class="article-meta">
    {{#link-to "profile" article.author.username}}
      <img src= {{article.author.image}} alt="profile image for {{article.author.username}}">
    {{/link-to}}
    <div class="info">
      {{#link-to "profile" article.author.username class="author" }}
        {{article.author.username}}
      {{/link-to}}
      <span class="date">{{moment-format article.createdAt 'ddd MMM DD YYYY'}}</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> {{article.favoritesCount}}
    </button>
  </div>
  {{#link-to "article" article.slug class="preview-link" }}
    <h1>{{article.title}}</h1>
    <p>{{article.description}}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      {{#each article.tagList as |tag|}}
        <li class="tag-default tag-pill tag-outline">{{tag.value}}</li>
      {{/each}}
    </ul>
  {{/link-to}}
</div>