<nav class="navbar navbar-light">
  <div class="container">
    <LinkTo @route="index" @query={{hash author=null page=1 tag=null}} class="navbar-brand">conduit</LinkTo>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link" data-test-nav-home>Home</LinkTo>
      </li>
      {{#if this.session.isLoggedIn}}
        <li class="nav-item">
          <LinkTo @route="editor.index" class="nav-link" data-test-nav-new-post>
            <i class="ion-compose"></i>&nbsp;New Post
          </LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="settings" class="nav-link" data-test-nav-settings>
            <i class="ion-compose"></i>&nbsp;Settings
          </LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="profile" @model={{this.session.user.username}} class="nav-link" data-test-nav-username>
            {{this.session.user.username}}
          </LinkTo>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" {{on "click" this.session.logOut}} data-test-nav-log-out>Log out</a>
        </li>
      {{else}}
        <li class="nav-item">
          <LinkTo @route="login" class="nav-link" data-test-nav-sign-in>Sign in</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="register" class="nav-link" data-test-nav-sign-up>Sign up</LinkTo>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>