<h1 class='text-xs-center'>Sign up</h1>
<p class='text-xs-center'>
  <LinkTo @route='login' data-test-login-link>Have an account?</LinkTo>
</p>
{{#unless this.user.isValid}}
  <ul class='error-messages'>
    {{#each this.user.errors as |error|}}
      <li>{{error.attribute}} {{error.message}}</li>
    {{/each}}
  </ul>
{{/unless}}
<form>
  <fieldset class='form-group'>
    <Input
      class='form-control form-control-lg'
      @type='text'
      placeholder='Your Username'
      @value={{this.username}}
      aria-label='Your Username'
      data-test-register-username
    />
  </fieldset>
  <fieldset class='form-group'>
    <Input
      class='form-control form-control-lg'
      @type='text'
      placeholder='Email'
      @value={{this.email}}
      aria-label='Email'
      data-test-register-email
    />
  </fieldset>
  <fieldset class='form-group'>
    <Input
      class='form-control form-control-lg'
      @type='password'
      placeholder='Password'
      @value={{this.password}}
      aria-label='Password'
      data-test-register-password
    />
  </fieldset>
  <button
    class='btn btn-lg btn-primary pull-xs-right'
    {{on 'click' this.submit}}
    disabled={{or (not this.username) (not this.email) (not this.password)}}
    type='button'
    data-test-register-button
  >
    Sign up
  </button>
</form>