<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1 data-test-article-title>{{this.model.title}}</h1>
      <ArticleMeta @article={{this.model}} />
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12" data-test-article-body>
        {{this.model.safeMarkup}}
      </div>
    </div>
    <hr>
    <div class="article-actions">
      <ArticleMeta @article={{this.model}} />
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <CommentsSection @article={{this.model}} />
      </div>
    </div>
  </div>
</div>