<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{model.title}}</h1>
      {{article-meta
        article=model 
        isLoggedIn=session.isLoggedIn
        onFavoriteArticle=(action "favoriteArticle") 
        onFollowAuthor=(action "followAuthor")
      }}
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        {{articleBody}}
        <ul class="tag-list"></ul>
      </div>
    </div>
    <hr>
    <div class="article-actions">
      {{article-meta
        article=model 
        isLoggedIn=session.isLoggedIn
        onFavoriteArticle=(action "favoriteArticle") 
        onFollowAuthor=(action "followAuthor")
      }}
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        {{#if session.isLoggedIn}}
          <form class="card comment-form" {{action "createComment" model newComment on="submit" }}>
            <div class="card-block">
              {{textarea class="form-control" placeholder="Write a comment..." rows="3" value=newComment}}
            </div>
            <div class="card-footer">
              <img class="comment-author-img" alt="">
              <button class="btn btn-sm btn-primary" type="submit" disabled={{not isNewCommentValid}}>
                Post Comment
              </button>
            </div>
          </form>
        {{else}}
          <p>
            {{#link-to "login"}}Sign in{{/link-to}} or {{#link-to "register"}}sign up{{/link-to}} to add comments on
            this article.
          </p>
        {{/if}}
        {{#each comments key="id" as | comment |}}
          <div class="card">
            <div class="card-block">
              <p class="card-text">{{comment.body}}</p>
            </div>
            <div class="card-footer">
              {{#link-to "profile" comment.author.id class="comment-author"}}
                <img src={{comment.author.image}} class="comment-author-img" alt="comment author image">
                &nbsp;
                {{comment.author.username}}
              {{/link-to}}
              <span class="date-posted">{{comment.createdAt}}</span>
              {{#if (eq session.user.username comment.author.username)}}
                <span class="mod-options">
                  {{!-- API doesn't seem to support editing comments.
                  <i class="ion-edit"></i>
                  --}}
                  <button class="ion-trash-a" type="button" {{action "deleteComment" comment}}></button>
                </span>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>