<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {{#if isAuthenticated}}
              <li class="nav-item">
                <a class="nav-link disabled" href="">Your Feed</a>
              </li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link {{unless activeTag 'active'}}" href="" {{action 'setTag' null}}>Global Feed</a>
            </li>
            {{#if activeTag}}
              <li class="nav-item">
                <a class="nav-link active" href="">{{activeTag}}</a>
              </li>
            {{/if}}
          </ul>
        </div>
        {{#each model.articles as |article|}}
          {{feed-item article=article}}
        {{/each}}
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            {{#each model.popularTags as |tag|}}
              <a href="" class="tag-pill tag-default" {{action 'setTag' tag.value}}>{{tag.value}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>