<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {{#if isAuthenticated}}
              <li class="nav-item">
                <a class="nav-link disabled" href="">Your Feed</a>
              </li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link {{unless tag 'active'}}" href="" {{action 'setVariable' 'tag' null}}>Global Feed</a>
            </li>
            {{#if tag}}
              <li class="nav-item">
                <a class="nav-link active" href="">{{tag}}</a>
              </li>
            {{/if}}
          </ul>
        </div>
        {{#each model.articles as |article|}}
          {{feed-item article=article}}
        {{/each}}
        <nav>
          <ul class="pagination">
            {{#each pageArray as |page|}}
              <li class="page-item">
                <a class="page-link" {{action 'setVariable' 'page' page}}>
                  {{page}}
                </a>
            </li>
            {{/each}}
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            {{#each model.popularTags as |tag|}}
              <a href="" class="tag-pill tag-default" {{action 'setVariable' 'tag' tag.value}}>{{tag.value}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>