<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src= {{model.user.image}} class="user-img" alt="user image">
          <h4>{{model.user.username}}</h4>
          <p>
            {{model.user.bio}}
          </p>
          {{#if (and isAuthenticated (eq user.username currentUser.username))}}
            {{#link-to "settings"}}
              <button class="btn btn-sm btn-outline-secondary action-btn">
                <i class="ion-gear-a"></i> Edit Profile Settings
              </button>
            {{/link-to}}
          {{else}}
            <button class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-plus-round"></i> &nbsp; Follow {{model.user.username}}
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              {{#link-to "profile.index" class="nav-link" }}
                My Articles
              {{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "profile.favorites" class="nav-link" }}
                Favorited Articles
              {{/link-to}}
            </li>
          </ul>
        </div>
        {{outlet}}
      </div>
    </div>
  </div>
</div>