<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src={{model.image}} class="user-img" alt="user image">
          <h4>{{model.username}}</h4>
          <p>
            {{model.bio}}
          </p>
          {{#if session.isLoggedIn}}
            {{#if (eq model.username session.user.username)}}
              {{#link-to "settings" class="btn btn-sm btn-outline-secondary action-btn" data-test-edit-profile-button=""}}
                <i class="ion-gear-a"></i> Edit Profile Settings
              {{/link-to}}
            {{else}}
              {{#follow-user-button data-test-follow-profile-button disabled=waitingForFollowing class="btn-outline-secondary action-btn" onClick=(perform (if model.following unFollowUser followUser) model)}}
                {{if model.following "Unfollow" "Follow"}} {{model.username}}
              {{/follow-user-button}}
            {{/if}}
          {{else}}
            {{#link-to "login" class="btn btn-sm btn-outline-secondary action-btn" data-test-follow-profile-button=""}}
              <i class="ion-plus-round"></i> &nbsp; {{if model.following "Unfollow" "Follow"}} {{model.username}}
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              {{#link-to "profile.index" class="nav-link" data-test-profile-nav-link="my-articles"}}
                My Articles
              {{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "profile.favorites" class="nav-link" data-test-profile-nav-link="favorite-articles"}}
                Favorited Articles
              {{/link-to}}
            </li>
          </ul>
        </div>
        {{outlet}}
      </div>
    </div>
  </div>
</div>